<div class="container mt-4">
  <div class="card shadow">
    <div class="card-header bg-dark text-white">
      <h4>Yeni Araba Ekle</h4>
    </div>
    <div class="card-body">
      <form>
        
        
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label">Plaka</label>
            <input type="text" class="form-control" [(ngModel)]="carRequest.plaka" name="plaka" placeholder="34 ABC 123" required>
          </div>
          <div class="col-md-4">
            <label class="form-label">Marka</label>
            <input type="text" class="form-control" [(ngModel)]="carRequest.brand" name="brand" placeholder="BMW" required>
          </div>
          <div class="col-md-4">
            <label class="form-label">Model</label>
            <input type="text" class="form-control" [(ngModel)]="carRequest.model" name="model" placeholder="5.20i" required>
          </div>
        </div>

       
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label">Üretim Yılı</label>
            <input type="number" class="form-control" [(ngModel)]="carRequest.productionYear" name="year" required>
          </div>
          <div class="col-md-4">
            <label class="form-label">Fiyat</label>
            <input type="number" class="form-control" [(ngModel)]="carRequest.price" name="price" required>
          </div>
          <div class="col-md-4">
            <label class="form-label">Hasar Kaydı (Tutar)</label>
            <input type="number" class="form-control" [(ngModel)]="carRequest.damagePrice" name="damage" required>
          </div>
        </div>

       
        <div class="row mb-3">
          
          
          <div class="col-md-4">
            <label class="form-label">Para Birimi</label>
            <select class="form-select" [(ngModel)]="carRequest.currencyTypeId" name="currId">
              <option [ngValue]="0">Seçiniz...</option>
             
              <option *ngFor="let curr of currencyList" [ngValue]="curr.id">
                {{ curr.value }}
              </option>
            </select>
          </div>

          
          <div class="col-md-4">
            <label class="form-label">Durum</label>
            <select class="form-select" [(ngModel)]="carRequest.carStatusTypeId" name="carStatusTypeId">
               <option [ngValue]="0">Seçiniz...</option>
               <option *ngFor="let stat of statusList" [ngValue]="stat.id">
                 {{ stat.value }}
               </option>
            </select>
          </div>

          
          <div class="col-md-4">
            <label class="form-label">Galerici ID</label>
            <input type="number" class="form-control" [(ngModel)]="carRequest.galleristId" name="gallId" placeholder="Örn: 1">
          </div>
        </div>

        <button type="button" class="btn btn-primary w-100" (click)="onSave()">Arabayı Kaydet</button>

      </form>
    </div>
  </div>
</div>